<ion-view   hide-tabs>
  <ion-nav-title class="md-title" >
    <span class="header-title" >得米APP下载</span>
  </ion-nav-title>
  <ion-content  scroll="false" >
    <iframe ng-src='{{myURL}}'
            style="width: 100%;height: 100%;"
    ></iframe>

    <!--<div class="flip-container "
         ng-class="{'start-flip': startFlip_internal}"
            >
      <div class="flipper">
        <div class="front "
             ng-hide="startFlip_internal"
                >
          <div class="flip-content-left">
            {{startPlace_internal}}
          </div>
          <div class="flip-content-center">
            <a class="flip-content-center-img">
              <img src="img/jipiao-shouye.png" ng-click="exchangePlace(0)" >
            </a>
          </div>
          <div class="flip-content-right">
            {{endPlace_internal}}
          </div>
        </div>
        <div class="back " ng-show="startFlip_internal">
          <div class="flip-content-left">
            {{endPlace_internal}}

          </div>
          <div class="flip-content-center">
            <a class="flip-content-center-img">
              <img src="img/jipiao-shouye.png" ng-click="exchangePlace(0)" >
            </a>
          </div>
          <div class="flip-content-right">
            {{startPlace_internal}}
          </div>
        </div>
      </div>
    </div>-->


  </ion-content>
</ion-view>
