.item .row .col-left-title {
    float: left;
    font-size: 14px;
    color: #999;
    padding: 0px;
    margin-right: 5px;;
}

.item .row .col-right-title {
    float: left;
    font-size: 14px;
    color: #999;
    padding: 0px;
    margin-right: 5px;;
}

.company-authentication-img {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 5px;
    margin-top: 2px;

}

.person-authentication-img {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 5px;
    margin-left: 2px;
    margin-top: 2px;
}

.left-float {
    float: left;
}
/*-------------拍照类型选择---------------*/
.parentList-content {
    margin: 0 2%;
    text-align: center;

    /*padding: 0px 1%;*/
}
.childrenList{
    width: 100%;
    /*height: 65%;*/
   /* height: 85%;*/
    -webkit-transition-duration: 0.4s;
}
.childrenList-next-roll{
   /* top: -100%;*/
    /*top:auto;*/
    height: 7000%;
}
.children-hidden{
    top:-70%;
    position: fixed;
}
.childrenList-next-roll::after{
    /* position: fixed;*/
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    /*background:rgba(0,0,0,0.2);/!* 是否透明*!/*/
    background:rgba(255,255,255,255);/* 是否透明*/
    top: 0;
    bottom: 0;
    opacity: 0.4;
}
.childrenList>ul{
    margin: 0;
    overflow: auto;
    background: #f2f2f2;
    /*height: 100px;*/
    width: 100%;
    padding:0px  0 0 5%  ;
    -webkit-transition-duration: 0.4s;
}
.childrenList>ul>li{
    line-height:24px;/* 3rem;*/
    font-size: 14px;/*0.12rem;*/
    border: solid 1px #eee;
    border-radius: 7px;
    padding: 0 6px;
    text-align: center;
    margin: 6px 1%;
    float: left;
    background: #ccc;
    color: #ffffff;
    min-width: 21%;
}
.childrenList>ul>li.stable-bg{
    background:  #39E3BE;
}
.spaceDiv{
    width: 100%;
    height: inherit;
}
/*-------------------------*/
/*-------------产品综合选择---------------*/

.productTypeList-box{
    width: 100%;
    /*height: 65%;*/
     height: 85%;
    -webkit-transition-duration: 0.4s;
    background: #f2f2f2;
    border-right: solid 1px #cccccc;
    overflow: auto;
}
.productTypeList-box-roll{
    /* top: -100%;*/
    /*top:auto;*/
    /*height: 7000%;*/

}
.children-hidden{
    top:-70%;
    position: fixed;
}
.childrenList-next-roll::after{
    /* position: fixed;*/
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    bottom: 0;
    opacity: 0.4;/* 是否透明*/
}
.productTypeList-box>ul{
    margin: 0;
    overflow: auto;
    background: #f2f2f2;
    width: 100%;
    -webkit-transition-duration: 0.4s;

}
.productTypeList-box>ul>li{
    font-size: 14px;/*0.12rem;*/

    word-spacing: 4px;
    width: 100%;
    text-align: center;
}
.productTypeList-first{
    line-height:54px;/* 3rem;*/
    border-top: solid 1px #cccccc;
}
.productTypeList-next{
    line-height:42px;/* 3rem;*/
    padding-left: 20px;

}
.productTypeList-next .stable-bg,.productTypeList-first.stable-bg{
    background:  #39E3BE;

}

.spaceDiv{
    width: 100%;
    height: inherit;
}
/*-------------------------*/
.newProduct-button{
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 100%
}
/*------------lease list style*/
.lease-list-title {
    color: #000;
    font-size: 14px;
}
.lease-list-div1 {
    font-size: 12px;
    padding:0;margin:0;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lease-list-div1 .type-color {
    color: #f29a00
}
/*------------recruit list style*/
.recruit-list-div2, .recruit-list-div3,.recruit-list-div1{
    padding: 0;
    margin:  4px 0;
}
.recruit-list-div2 span, .recruit-list-div3 span,.recruit-list-div1 span{
    width: 50%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 2px;
    right: 50%;
}
.recruit-list-div1 span{
    color: #000;
}
.recruit-list-div2 span{
    color: #f29a00
}
.recruit-list-div2 h3, .recruit-list-div3 h3,.recruit-list-div1 h3{
    width: 50%;
    text-align: right;
}

.recruit-list-div1{
    font-size: 14px;
}
.recruit-list-div2{
    font-size: 13px;
}
.recruit-list-div3{
    font-size: 12px;
}


/*------------------------*/
/*---------process style---------------*/
.process-detail-title{
    color: #999999;
    font-size: 14px;
}

.process-detail-title p{
    color: #999999;
    font-size: 14px;
}
.process-detail-title .more-lines{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin: 2px;
    color: #212121;
    font-size: 14px;
}
.process-detail-title span{
    color: #000;
    font-size: 14px;
}
.item.process-detail-picture {
    padding:0px;
    padding-bottom: 4px;
}
.process-detail-picture .picture-title{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}
.process-detail-picture .picture-content{
    white-space: initial;;
    padding-top: 8px;
}
.process-detail-picture .picture-content{
    float: left;
    margin: 1px;
    text-align: center
}

/*---------------------------*/
.mr-col-left-50 {
    float: left;
    position: relative;
    width: 50%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}


/*----------动画测试-----------------------*/
.flip-container {
    perspective: 1000;
}
.start-flip .flipper, .start-flip .flipper {
    transform: rotateY(180deg);
    -ms-transform:rotateY(180deg); 	/* IE 9 */
    -moz-transform:rotateY(180deg); 	/* Firefox */
    -webkit-transform:rotateY(180deg); /* Safari 和 Chrome */
    -o-transform:rotateY(180deg); 	/* Opera */
}
.flip-container, .front, .back {
    width: 100%;
    height: 56px;
}
.flipper {
    transition: 0.6s;
 /*   -moz-transition:  0.6s; *//* Firefox 4 *//*
    -webkit-transition:  0.6s; *//* Safari 和 Chrome *//*
    -o-transition: 0.6s; *//* Opera */
     transform-style: preserve-3d;
     /*-webkit-transform-style: preserve-3d;	 Safari 和 Chrome*/
    position: relative;
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px 0 15px;
    overflow: hidden;
}
.front{
    z-index: 2;
}
.front div,.back div{
    font-size: 17px;
    color: #000;
    float: left;

}
.back {
    transform: rotateY(180deg);
    -ms-transform:rotateY(180deg); 	/* IE 9 */
    -moz-transform:rotateY(180deg); 	/* Firefox */
    -webkit-transform:rotateY(180deg); /* Safari 和 Chrome */
    -o-transform:rotateY(180deg); 	/* Opera */
}

.flip-content-left{
    width: 40%;
    border-bottom: 1px solid #e2e2e2;
    padding: 12px 0;
}
.flip-content-right{
    width: 40%;
    border-bottom: 1px solid #e2e2e2;
    padding: 12px 0;
    text-align: right;
    padding-right:16px
}
.flip-content-center{
    padding: 12px 0;
    width: 20%;
    text-align: center;
    padding: 6px 0px!important;
}
.flip-content-center-img img{
    width: 28px;
}
/*------------------------------*/
/*-------------header 带 右按键地址搜索*/
.head-address-input{
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 0px;
}
.head-address-input .head-input{
    background-color: #f8f8f8;
    /* line-height: 30px; */
    height: 30px;
    margin-left: 2px;
}
.head-address-input .head-input input{
   padding:0px;
}
/*------------lease list style*/
.lease-list-title {
    color: #000;
    font-size: 14px;
}
.lease-list-div1 {
    font-size: 12px;
    padding:0;margin:0;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lease-list-div1 .type-color {
    color: #f29a00
}
.lease-item.item-complex.item-icon-right .item-content {
    padding-right: 10px;
}
/*--------------------*/
/*------------------------------招聘详情 -----------------------------*/

.col-50 .column-content{
    font-size: 13px;
}
.col-50 .column-title{
    color: #999999;
    font-size: 13px;
    float: left
}

.vertical-line{
    width: 1.5px;
    background-color: #f2f2f2;
}

.recruit-item{
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recruit-item .column-title{
    white-space: normal;
    padding:  4px 16px  4px 16px  ;
    margin: 2px;
    background-color: #f2f2f2;
    color: #999999;
    font-size: 13px;
}
.recruit-item .column-content{
    white-space: pre;
    padding:  4px 16px  4px 16px  ;
    margin: 2px;
    color: #212121;
    font-size: 13px;
}


.recruit-list-item{
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border:solid 1px #dddddd;
    margin: 2px;
    padding: 2px;
    background-color: #FBFBFB;
}
.recruit-list-item .list-title{
    border:solid 1px #dddddd;
    white-space: normal;
    padding:  4px 10px  4px 10px  ;
    margin: 2px;
    background-color: #f2f2f2;
    color: #999999;
    font-size: 13px;
}
.list-label{
    padding-left: 12px;
    border-bottom:dashed 1.5px #f2f2f2;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 14px;

}
.recruit-textarea{
    background-color: #FBFBFB;
    width: 100%;
    border: solid 2px #fff;
    padding: 6px;
    font-size: 12px;
}
.list-label span{
    /*margin-right: 5px;*/
}
.list-label input[type=text],.list-label input[type=number]{
    text-align: center;
}
.list-label input[type=number]{
    text-align: center;
}
/*------------------------------邪恶的分割线---------------------------*/
/*--------------------------------------多栏列表样式，最多3栏-----------------------------*/
/* grade */
.first-open{
    /*position:fixed;*/
    /*top: -65%;*/
    width: 100%;
    /*height: 65%;*/
    height: 100%;
    padding-bottom: 43px;
    z-index: 1;
    -webkit-transition-duration: 0.4s;
    border-top: solid 4px #eee;
}

.first-open>ul{
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    -webkit-transition-duration: 0.4s;
}

.first-open > ul > li {
    line-height: 42px;/*3rem*/
    /*font-size: 0.12rem;  手机显示字体过小*/
    padding-left: 14px;/*1rem*/
    border-bottom: solid 1px #eee;
    border-left: solid 2px #fff;
}
.first-open>ul.first-first{
    background: #fff;
    /*     background: #ddd; */
    position: absolute;
    z-index: 1;

}

.first-open > ul.first-second {
    background: #f2f2f2;
    position: absolute;
    z-index: 2;
    left: 100%;
}
.first-open>ul.first-second>li{
    border-bottom: solid 1px #fff;
}

.first-open > ul.first-third {
    background: #fff;
    position: absolute;
    z-index: 3;
    left: 100%;
    list-style-type: none;
}
.first-open > ul.first-third > li {
    border-bottom: solid 1px #eee;
    /*margin-left: 1rem;
    padding: 0;*/
}

.first-first-roll::after{
    /* position: fixed;*/
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background:rgba(0,0,0,0.2);/* 是否透明*/
}
/*------------------------------------- 邪恶的结束分割线 ---------------------*/
/*---------------关键字搜索历史------------------*/
.search-content-bg{background-color:#f8f8f8}
.search-content-bg.item-complex .item-content{
    background-color:#f8f8f8;
}
.search-content-bg .item-content{
    padding-left: 0px;
    border-bottom: solid 2px #ddd;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size:14px ;
}
.search-content-bg .list{
    margin-left: 16px;
    margin-right: 16px;
}
.keyword-content{
    color: #aaa;
}
.keyword-content span{
    padding-left: 6px;
    line-height: 30px;
    color: #000;
}
.keyword-clear{
    text-align: center;
    color: #000;
}

.hot-word-div{
    margin: 10px 16px 0px 16px;
}
.hot-word-div .hot-word-title{
    border-bottom: solid 1px #ddd;
    margin-bottom: 10px;
}
.hot-word-div .history-word-title{
    border-bottom: solid 1px #ddd;
}
.hot-word-title span,.history-word-title span{
    line-height: 32px;
    color: #aaa;
}
.hot-word-div .hot-word-content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hot-word-content span{
    padding: 10px;
    margin-bottom: 10px;
    line-height: 14px;
    margin-right: 10px;
    float: left;
    border-color: #ddd;
    background-color: #fff;
    color: #000;
    position: relative;
    font-size: 12px;
    border-radius: 10%;
}
.hot-word-content-color-1{
    background-color: #cefff5;
    border-color:#cefff5 ;
}
.hot-word-content-color-2{
    background-color: #fbedff;
    border-color:#fbedff ;
}
.hot-word-content-color-3{
    background-color: #fbedff;
    border-color:#cefff5 ;
}
.hot-word-content-color-4{
    background-color: #fff2f0;
    border-color:#cefff5 ;
}
/*------------------------------------- 邪恶的结束分割线 ---------------------*/
/*------------------------------------- 采购、产品列表样式 ---------------------*/
.purchase-50-list{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
  /*   padding-right: 3px; */
    padding-left: 3px;
    padding-top: 1px;
    background-color: #f2f2f2;
    padding-bottom: 4px;
}
.purchase-img-font-fff{
    background-color: rgba(170,170,170,0.50);
    position: absolute;
    bottom: 46px;
    color: #fff;
     width: inherit; 
}
.purchase-50-list .description-line-1{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #212121;
    font-size: 14px;
}
.purchase-50-list .description-line-2{
    color: #636363;
    font-size: 12px;
    /* padding: 0 2px; */
}
/*------------------------------------- 邪恶的结束分割线 ---------------------*/
/*---------process style---------------*/
.process-detail-title{
  color: #999999;
  font-size: 14px;
}

.process-detail-title p{
  color: #999999;
  font-size: 14px;
}
.process-detail-title .more-lines{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin: 2px;
  color: #212121;
  font-size: 14px;
}
.process-detail-title span{
  color: #000;
  font-size: 14px;
}
.item.process-detail-picture {
  padding:0px;
  padding-bottom: 4px;
}
.process-detail-picture .picture-title{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}
.process-detail-picture .picture-content{
  white-space: initial;;
  padding-top: 8px;
}
.process-detail-picture .picture-content{
  float: left;
  margin: 1px;
  text-align: center
}
/*------------------------------------- 邪恶的结束分割线 ---------------------*/
